*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.sublime-project
*.sublime-workspace
node_modules
npm-debug.log
package-lock.json
tmp/
.buildpath
.settings
.yml
_site
coverage/
.nyc_output/
